@page "/configuration"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PiPanel.Client.Components
@using PiPanel.Shared
@using PiPanel.Shared.Camera;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Configuration</PageTitle>

<div class="container">
    <h1>Configuration</h1>

    @if (isLoading)
    {
        <p>
            Loading...
        </p>
    }
    else if (deviceProperties is not null)
    {
        <p>
            <b>Camera image capture interval:</b> <span>@deviceProperties.CameraInterval</span>
            <br />
            <b>Environment sensor report interval:</b> <span>@deviceProperties.EnvironmentInterval</span>
            <br />
            <button class="btn btn-secondary" @onclick="RefreshProperties">Refresh</button>
        </p>
    }
    else
    {
        <p>Error retrieving device properties</p>
    }

    <div class="row mb-3">
        <div class="col">
            <label for="cameraIntervalInput" class="form-label">Set camera interval</label>
            <div class="input-group">
                <input type="number" class="form-control align-content-end" id="cameraIntervalInput" @bind-value=newCameraIntervalSeconds />
                <span class="input-group-text">seconds</span>
                <button class="btn btn-primary" @onclick="SaveCameraInterval">Save & Capture Now</button>
            </div>
        </div>
        <div class="col">
            <label for="environmentIntervalInput" class="form-label">Set environment sensor report interval</label>
            <div class="input-group">
                <input type="number" class="form-control align-content-end" id="environmentIntervalInput" @bind-value=newEnvironmentIntervalSeconds />
                <span class="input-group-text">seconds</span>
                <button class="btn btn-primary" @onclick="SaveEnvironmentInterval">Save &amp; Capture Now</button>
            </div>
        </div>
    </div>

    @if (deviceProperties is not null)
    {
        <div class="row mb-3">
            <div class="col-3">
                <label class="form-label">Camera Angle</label>
                <div class="input-group">
                    <input type="number" class="form-control align-content-end" @bind-value=@deviceProperties.Angle />
                    <span class="input-group-text">°</span>
                    <button class="btn btn-primary" @onclick="SaveAngle">Save</button>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            @foreach (var cameraItem in deviceProperties.Cameras)
            {
                <div class="col">
                    <h3>Camera @cameraItem.Key</h3>
                    <div class="mb-3">
                        <label class="form-label">Resolution</label>
                        <div class="input-group">
                            <input type="number" class="form-control" @bind-value=cameraItem.Value.ResolutionWidth />
                            <span class="input-group-text">X</span>
                            <input type="number" class="form-control" @bind-value=cameraItem.Value.ResolutionHeight />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Flip Horizontally</label>
                        <input type="checkbox" class="form-check" @bind=cameraItem.Value.IsFlippedHorizontally />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Flip Vertically</label>
                        <input type="checkbox" class="form-check" @bind=cameraItem.Value.IsFlippedVertically />
                    </div>
                    <dov class="mb-3">
                        <button class="btn btn-primary" @onclick="() => SaveCamera(cameraItem)">Save Camera Config</button>
                    </dov>
                </div>
            }
        </div>
    }
</div>

@code {
    private DeviceProperties? deviceProperties;

    private bool isLoading = false;

    private int newCameraIntervalSeconds = 0;
    private int newEnvironmentIntervalSeconds = 0;

    protected override async Task OnInitializedAsync()
    {
        await RefreshProperties();
    }

    protected async Task RefreshProperties()
    {
        deviceProperties = await GetDevicePropertiesAsync();

        if (deviceProperties is not null)
        {
            newCameraIntervalSeconds = (int)deviceProperties.CameraInterval.TotalSeconds;
            newEnvironmentIntervalSeconds = (int)deviceProperties.EnvironmentInterval.TotalSeconds;
        }
    }

    protected async Task SaveCameraInterval()
    {
        await SaveInterval(nameof(deviceProperties.CameraInterval), newCameraIntervalSeconds);
    }

    protected async Task SaveEnvironmentInterval()
    {
        await SaveInterval(nameof(deviceProperties.EnvironmentInterval), newEnvironmentIntervalSeconds);
    }

    protected async Task SaveCamera(KeyValuePair<string, CameraInfo> cameraItem)
    {
        await Http.PostAsJsonAsync($"Device/Cameras/{cameraItem.Key}", cameraItem.Value);
    }

    private async Task<DeviceProperties?> GetDevicePropertiesAsync()
    {
        isLoading = true;

        try
        {
            return await Http.GetFromJsonAsync<DeviceProperties>($"Device/Properties");
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task SaveInterval(string key, int valueInSeconds)
    {
        var request = new DeviceIntervalUpdateRequest
            {
                Key = key,
                ValueInSeconds = valueInSeconds,
            };

        await Http.PostAsJsonAsync($"Device/Interval", request);
    }

    private async Task SaveAngle()
    {
        if (deviceProperties is not null)
        {
            await Http.PostAsJsonAsync($"Device/Angle", deviceProperties.Angle);
        }
    }
}
