@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PiPanel.Shared;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>PiPanel Details</h1>

<table class="table table-responsive">
    <tr>
        <th>Connection Status</th>
        <td>@(status is null ? "" : status.IsConnected ? "Connected" : "Disconnected")</td>
    </tr>
    <tr>
        <th>Last Activity</th>
        <td>@status?.LastActivityTime</td>
    </tr>
</table>

@code {
    private PiPanelStatus? status;

    protected override async Task OnInitializedAsync()
    {
        status = await Http.GetFromJsonAsync<PiPanelStatus>("Device");
    }
}