@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PiPanel.Shared;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>PiPanel Details</h1>

    <p>
        <b>Connection Status: </b> @(status is null ? "" : status.IsConnected ? "Connected" : "Disconnected")
        <br /><b>Last Activity:</b> @status?.LastActivityTime (UTC)
    </p>
</div>

@code {
    private PiPanelStatus? status;

    protected override async Task OnInitializedAsync()
    {
        status = await Http.GetFromJsonAsync<PiPanelStatus>("Device");
    }
}